<!DOCTYPE html>
<html>
  <head>
    <title>Projeto Filmes e Series</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Projeto Filmes e Series</h1>
    <ul>
      <li><a href="/listar">Listagem de Filmes</a></li>
      <li><a href="/add">Adicionar Filmes/series</a></li>
    </ul>
  </body>
</html>
