<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Listagem de filmes e Series</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Listagem de filmes e Series</h1>
  <a href="/add" class="btn btn-success" style="margin-bottom: 10px;">Novo Filme/Serie</a>
  <table class="table table-hover" style="width: 60%;">
    <thead class="table-dark">
      <tr align="center">
        <th>Titulo</th>
        <th>Ano de lançamento</th>
        <th colspan="2">Opções</th>
      </tr>
    </thead>
    <tbody>
      <% for(item of lista){ %>
        <tr>
          <td align="center">
            <%= item.titulo %>
          </td>
          <td align="center">
            <%= item.ano_lancamento %>
          </td>
          <td align="center"><a href="/edit/<%= item.id %>" class="btn btn-primary">Editar</a></td>
          <td align="center"><a href="#" class="btn btn-danger" onclick="excluir(<%= item.id %>);">Excluir</a></td>

        </tr>
        <%} %>
    </tbody>
  </table>

  <p><a href="/">Voltar para o inicio</a></p>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-1.9.1.js"></script> 

  <script>
    function excluir(id) {
      var res = confirm('Deseja realmente excluir o registro selecionado ?')
      if (res) {
        console.log(res)
        $.ajax({
          url: `/delete/${id}`,
          type: 'DELETE',
          success: function (resultado) {
            if (resultado == 'OK') {
              window.location.reload();
            } else {
              alert(resultado)
            }
          }
        })
      }
    }
  </script>
</body>

</html>